/* Botones */
button, input {
	*overflow: visible;
	line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	cursor: pointer;
	-webkit-appearance: button;
	-moz-webkit-appearance: none;
}

.btn{
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #333;
	background-color: #f3f3f3;
	border-color: #ccc;
}

.btn:active, .btn:hover, .btn:focus{
	background-image: none;
	background-color: #ebebeb;
}

.btn-primary{
	color: #ffffff;
	background-color: #2d74ce;
	border-color: #2472a4;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus{
	background-image: none;
	background-color: #2868b9;
}

.btn-ok{
	color: #ffffff;
	background-color: #2cc345;
	border-color: #229937;
}

.btn-ok:active, .btn-ok:hover, .btn-ok:focus{
	background-image: none;
	background-color: #27ae36;
}

.btn-error{
	color: #ffffff;
	background-color: #e74c3c;
	border-color: #e43725;
}

.btn-error:active, .btn-error:hover, .btn-error:focus{
	background-image: none;
	background-color: #d62c1a;
}

.btn-warn{
	color: #ffffff;
	background-color: #f39c12;
	border-color: #f4a62a;
}

.btn-warn:active, .btn-warn:hover, .btn-warn:focus{
	background-image: none;
	background-color: #f38912;
}

.btn-info{
	color: #ffffff;
	background-color: #3498bd;
	border-color: #258cd1;
}

.btn-info:active, .btn-info:hover, .btn-info:focus{
	background-image: none;
	background-color: #348adb;
}

.btn-mini{
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.btn-small{
	
}