/* Botones */
button, input {
	*overflow: visible;
	line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	cursor: pointer;
	-webkit-appearance: button;
	-moz-webkit-appearance: none;
}

.btn{
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #333;
	background-color: #f3f3f3;
	border-color: #ccc;
}

.btn:active, .btn:hover, .btn:focus{
	background-image: none;
	background-color: #ebebeb;
}

.btn-primary{
	color: #ffffff;
	background-color: #129296;
	border-color: #12989C;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus{
	background-image: none;
	background-color: #139FA4;
}

.btn-ok{
	color: #ffffff;
	background-color: #15ABB0;
	border-color: #15B2B7;
}

.btn-ok:active, .btn-ok:hover, .btn-ok:focus{
	background-image: none;
	background-color: #14BCC2;
}

.btn-error{
	color: #ffffff;
	background-color: #F4539E;
	border-color: #F34C9A;
}

.btn-error:active, .btn-error:hover, .btn-error:focus{
	background-image: none;
	background-color: #F74095;
}

.btn-warn{
	color: #ffffff;
	background-color: #632E7D;
	border-color: #6C3289;
}

.btn-warn:active, .btn-warn:hover, .btn-warn:focus{
	background-image: none;
	background-color: #743594;
}

.btn-info{
	color: #ffffff;
	background-color: #E39F17;
	border-color: #E9A315;
}

.btn-info:active, .btn-info:hover, .btn-info:focus{
	background-image: none;
	background-color: #F1A714;
}