@import url("botones.css");
label{
	font-weight: bold;
	display: block;
	font-size: inherit;
}

input[type="text"],
input[type="password"],
select{
	height: 25px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #111;;
	background-image: transparent;
	background-color: #fff;
	padding-left: 5px;
}

textarea{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #111;
}

input[type="radio"],
input[type="checkbox"]{
	display: none;
	margin: 10px;
}

input[type="radio"] + label,
input[type="checkbox"] + label{
	display: inline-block;
	margin: -2px;
	padding: 4px 12px;
	border: 1px solid #ccc;
	border-color: #e6e6e6;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
}
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label{
	background-image: none;
	background-color: #e0e0e0;
	outline: 0;
}
