/* styles.css */
*{
	font-family: sans-serif;
}

h1{
	color: mediumblue;
	text-shadow: 10px 10px 3px #87FF69;
	font-weight: bold;
	font-family: 'Mystery Quest', cursive;
}

li{
	color: purple;
}

a:link{
	color: green;
}

a:hover{
	color: red;
	font-weight: bold;
}